@import "vars";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "TT Lakes", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $bgColor;
}

img {
  max-width: 100%;
  height: auto;
}


.page {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1365px) {
    flex-direction: column;
  }
}

.fixed {
  overflow: hidden;
}
