@import "vars";

.main {
  padding: 0 32px;
  order: 2;

  @media screen and (max-width: 320px) {
    padding: 0 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 24px;
  }

  &__page-title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $textColor;
    border: 4px solid transparent;
    border-left: 4px solid $bordLeftColor;
    margin-left: -32px;
    padding-left: 32px;
  }

  &__btn--request,
  &__btn--status {
    font-size: 16px;

    &::after {
      margin-left: 8px;
    }
  }

  @media screen and (max-width: 1365px) {
    &__btns-orders {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    overflow: hidden;


    @media screen and (max-width: 321px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    display: inline-block;
    margin: 12px 0;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: $textSupColor;
    padding: 8px 16px;
    border: 2px solid transparent;
    white-space: nowrap;


    &:focus,
    &:hover {
      border: 2px solid $bordCurElemColor;
      border-radius: 6px;
      background: $bgSupColor;
    }
  }
}
