@import "vars";

.overlay {
  opacity: 1;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bgSupColor;
  z-index: 20;

  &--active {
    opacity: 0.9;
    visibility: visible;
  }
}
