@import "vars";

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $textSupColor;
  border-top: 1px solid $delimiterColor;

  &__copyright {
    @media screen and (min-width: 321px) {
      text-align: left;
    }
  }

  &__link {
    text-decoration: none;
    color: $textSupColor;
  }

  &__info {
    @media screen and (min-width: 321px) {
      width: 330px;
      text-align: right;
    }
  }
}
