@import "vars";

.swiper-container {

  @media screen and (max-width: 320px) {
    width: 100%;
  }
}

.swiper-pagination {
  display: none;

  @media screen and (max-width: 320px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .swiper-pagination-bullet {
    @media screen and (max-width: 320px) {
      background-color: $textinputColor;
      width: 12px;
      height: 12px;
      margin-right: 12px;
      border-radius: 50%;
      outline: none;
    }
  }
}
