$bgColor: #f8f8f8;
$bgSupColor: #FFFFFF;
$btnColor: #ff3e79;
$bordLeftColor: #41F6D7;
$bordCurElemColor: #B8FFEC;
$bordElemColor: #EAEAEA;
$delimiterColor: #D9FFF5;
$textColor: #1B1C21;
$textSupColor: #7E7E82;
$textinputColor: #B5B6BC;
